<!DOCTYPE html>
<html>
  <head>
    <title>ProjectTracking</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
<h2 class="text-center">Home Page</h2>
  <div class="container text-center">
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-outline-secondary"><%= link_to "Home", "/pages/home" %></button>
    </div>
    <div class="col">
     <button type="button" class="btn btn-outline-secondary"><%= link_to "Contact" , "/pages/contact" %></button>
    </div>
  </div>





    <%= yield %>








  </body>
</html>
